*{
    margin: 0px;
    padding: 0px;
   
}
#container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    justify-content: center;
    display: flex;
    align-items: center;   
}
#calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
#calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 15px blueviolet;
    background: transparent;
    color: #e3f9ff;
    margin: 10px;
    cursor: pointer;
}
form .display #screen{
    text-align: right;
    justify-content: flex-end;
    box-shadow: none;
    width:200px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input#equal{
    width: 140px;
}

